<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="org.unipd.nbeghin.climbtheworld"
    android:versionCode="1"
    android:versionName="1.0" >

    <uses-permission android:name="android.permission.INTERNET" />
    <!-- Include next permission if you want to allow UIL to cache images on SD card -->
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />

    <uses-sdk
        android:minSdkVersion="10"
        android:targetSdkVersion="17" />

    <application
        android:allowBackup="true"
        android:hardwareAccelerated="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <service
            android:name="org.unipd.nbeghin.climbtheworld.services.SamplingClassifyService"
            android:exported="false" />
        <service
            android:name="org.unipd.nbeghin.climbtheworld.services.SamplingRateDetectorService"
            android:exported="false" />

        <activity
            android:name="org.unipd.nbeghin.climbtheworld.MainActivity"
            android:label="@string/app_name"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.AppCompat.Light" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="org.unipd.nbeghin.climbtheworld.ClimbActivity"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:label="@string/title_activity_climb"
            android:launchMode="singleInstance"
            android:parentActivityName="org.unipd.nbeghin.climbtheworld.MainActivity"
            android:screenOrientation="portrait"
            android:theme="@style/FullscreenTheme" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="org.unipd.nbeghin.climbtheworld.MainActivity" />
        </activity>
        <activity
            android:name="org.unipd.nbeghin.climbtheworld.ProfileActivity"
            android:label="@string/title_activity_profile"
            android:parentActivityName="org.unipd.nbeghin.climbtheworld.MainActivity" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="org.unipd.nbeghin.climbtheworld.MainActivity" />
        </activity>
        <activity
            android:name="org.unipd.nbeghin.climbtheworld.SettingsActivity"
            android:label="@string/title_activity_settings"
            android:parentActivityName="org.unipd.nbeghin.climbtheworld.MainActivity" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="org.unipd.nbeghin.climbtheworld.MainActivity" />
        </activity>
        <activity
            android:name="org.unipd.nbeghin.climbtheworld.TourDetailActivity"
            android:label="@string/title_activity_tour_detail"
            android:parentActivityName="org.unipd.nbeghin.climbtheworld.MainActivity" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="org.unipd.nbeghin.climbtheworld.MainActivity" />
        </activity>
        <activity
            android:name="org.unipd.nbeghin.climbtheworld.GalleryActivity"
            android:label="@string/title_activity_gallery"
            android:theme="@style/Theme.AppCompat.Light"
            android:parentActivityName="org.unipd.nbeghin.climbtheworld.ClimbActivity" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="org.unipd.nbeghin.climbtheworld.ClimbActivity" />
        </activity>
        <activity
            android:name="org.unipd.nbeghin.climbtheworld.PhotoPagerActivity"
            android:label="@string/title_activity_photo_pager_activity"
            android:theme="@style/Theme.AppCompat.Light"
            android:parentActivityName="org.unipd.nbeghin.climbtheworld.GalleryActivity" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="org.unipd.nbeghin.climbtheworld.GalleryActivity" />
        </activity>

        <meta-data
            android:name="com.facebook.sdk.ApplicationId"
            android:value="@string/app_id" />

        <activity
            android:name="org.unipd.nbeghin.climbtheworld.FBShareProgressActivity"
            android:label="@string/title_activity_fbshare_progress"
            android:parentActivityName="org.unipd.nbeghin.climbtheworld.MainActivity" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="org.unipd.nbeghin.climbtheworld.MainActivity" />
        </activity>
        <activity android:name="com.facebook.LoginActivity" >
        </activity>
        <activity
            android:name="org.unipd.nbeghin.climbtheworld.FBPickFriendActivity"
            android:label="@string/title_activity_fbpick_friend"
            android:parentActivityName="org.unipd.nbeghin.climbtheworld.MainActivity" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="org.unipd.nbeghin.climbtheworld.MainActivity" />
        </activity>
    </application>

</manifest>